name: Dependabot Changelog

on:
  workflow_call:

jobs:
  changelog:
    name: Changelog
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
      - uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05 # v1.1.1
        id: sts
        with:
          scope: ${{ github.repository}}
          identity: actions-pr
      - name: Changelog
        uses: crambl/dependabot-changelog-writer@478f44ae023312b697349f9d12b646936020936f # v1.3.1
        with:
          push-token: ${{ steps.sts.outputs.token }}
          duplicate-entry-strategy: append
          commit-message: "chore: Update changelog for Dependabot"
          changelog: ./CHANGELOG.md
          section-header: "Changed"
          changelog-entry-pattern: "Update _[dep]_ from `[old]` to `[new]`. ([pr-link]) _@dependabot_"
          push-changes: true
