name: OSSF Scorecard

on:
  workflow_call:
    inputs:
      retention_days:
        description: Number of days to retain the scorecard artifact.
        type: number
        required: false
        default: 7

jobs:
  scorecard:
    name: Scorecard Analysis
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run scorecard
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_format: sarif
          results_file: scorecard.sarif
          publish_results: true

      - name: Upload sarif
        uses: github/codeql-action/upload-sarif@3599b3baa15b485a2e49ef411a7a4bb2452e7f93 # v3.29.5
        with:
          sarif_file: scorecard.sarif

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: scorecard
          path: scorecard.sarif
          retention-days: ${{ inputs.retention_days }}
