name: Validate GitHub Workflows

on:
  workflow_call:
    inputs:
      auto_doc:
        description: If auto-doc should be run.
        type: boolean
        required: false
        default: false
      auto_doc_script:
        description: The script to run auto-doc.
        type: string
        required: false
      markdownlint:
        description: If markdownlint should be run.
        type: boolean
        required: false
        default: false
      shellcheck:
        description: If shellcheck should be run.
        type: boolean
        required: false
        default: false
      yamlfmt:
        description: If yamlfmt should be run.
        type: boolean
        required: false
        default: false

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install actionlint
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        with:
          github_token: ${{ github.token }}
          owner: rhysd
          repository: actionlint
          check_command: actionlint -version
          version: latest

      - name: Run actionlint
        run: actionlint -shellcheck=shellcheck

      - name: Install auto-doc
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: inputs.auto_doc
        with:
          github_token: ${{ github.token }}
          owner: tj-actions
          repository: auto-doc
          arch_amd64: x86_64
          os_linux: Linux
          check_command: auto-doc --help
          version: latest

      - name: Run auto-doc check
        if: inputs.auto_doc
        run: |
          set -euo pipefail

          auto_doc_script="${{ inputs.auto_doc_script }}"

          if [[ -n "${auto_doc_script}" ]]; then
            ${auto_doc_script}
          else
            find ./.github/workflows -maxdepth 1 -name '*.yaml' ! -name '_*' -print0 | while read -r -d $'\0' file; do
              name="$(basename "${file}" .yaml)"

              tmp_readme="$(mktemp)"
              printf '## Inputs\n## Outputs' >"${tmp_readme}"
              auto-doc --colMaxWords 100 --repository ${{ github.repository }} --reusable --reusableOutputColumns "Output" --reusableOutputColumns "Description" --filename "${file}" --output "${tmp_readme}"
              sed -i 's/## /### /g' "${tmp_readme}"
              sed -i 's/||/\\|\\|/g' "${tmp_readme}"
              sed -i 's/"\\|"/\\|/g' "${tmp_readme}"

              sed -i -e "/MERGE:START:${name}/,/MERGE:END:${name}/c\<!-- MERGE:START:${name} - Do not remove or modify this section -->\n\n<!-- MERGE:END:${name} - Do not remove or modify this section -->" ./README.md
              sed -i "/MERGE:START:${name}/r ${tmp_readme}" ./README.md

              rm -f "${tmp_readme}"
            done
          fi

          if [[ -n "$(git status --porcelain --untracked-files=no)" ]]
          then
            echo "Documentation not up to date; please run auto-doc and commit changes!" >&2
            exit 1
          fi

      - name: Install yamlfmt
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: inputs.yamlfmt
        with:
          github_token: ${{ github.token }}
          owner: google
          repository: yamlfmt
          arch_amd64: x86_64
          os_linux: Linux
          check_command: yamlfmt -version
          version: latest

      - name: Run yamlfmt check
        if: inputs.yamlfmt
        run: |
          set -euo pipefail

          yamlfmt -lint .

      - name: Run shellcheck
        if: inputs.shellcheck
        run: |
          set -euo pipefail

          # shellcheck disable=SC2038
          find . -type f -name "*.sh" | xargs --no-run-if-empty -n1 shellcheck

      - name: Run markdownlint check
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
        if: inputs.markdownlint
